.inside .activity-block:first-child,
.inside .nearbywp h2 {
	padding-top: 0;
}

#nearbywp .nearbywp-toggle,
#nearbywp .nearbywp-geolocate {
	color: #0073aa;
	margin: 5px 0;
}

#nearbywp .nearbywp-geolocate {
	margin-left: 10px;
}

#nearbywp .nearbywp-toggle {
	height: 28px;
}

#nearbywp .button-link:hover,
#nearbywp .button-link:active {
	color: #00a0d2;
}

#nearbywp-form {
	margin: 5px 0;

	@media (min-width: 420px) {
		height: 28px;
	}
}

#nearbywp-form .regular-text {
	margin-top: 2px;
	width: 50%;
}

.nearbywp ul {
	background-color: #fafafa;

}

.event-icon {
	height: 36px;
	margin-right: 10px;
	width: 36px;
}

.event-icon:before {
	color: #0073aa;
	font-size: 36px;
}

.event-meetup .event-icon:before {
	content: "\f484";
}

.event-wordcamp .event-icon:before {
	content: "\f486";
}

.nearbywp .event-title {
	display: block;
	font-weight: 600;
}

.nearbywp .event-info {
	display: inline-block;
}

.nearbywp .event-date {
	float: right;
}

.nearbywp-footer {
	margin-bottom: 0;
}
